:root{
    background-color: thistle;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 48px;
}
.calc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: sspace-around;
    width: 300px;
    min-height: 300px;
    border-radius: 10px;
    background-color: rgb(0,0,0,.8);
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 8px 8px 16px rgb(0, 0, 0, .5);
    
}
.screen{
    display: flex;
    flex-direction: column;
    justify-content: end;
    /*border: 2px solid grey;*/
    background-color: slategray;
    color:rgb(0,0,0,.8);
    border-radius: 10px;
    padding: 16px;
    padding-bottom: 4px;
    margin: 5px;
    margin-bottom: 8px;
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    flex: 1 1 auto;
    object-fit: fill;
    box-shadow: inset 0 0 10px rgb(0, 0, 0, .5);
    min-height: 42px;
}

.displaynum {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    min-height: 28px;
}

.upperdisplay {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 12px;
    min-height: 14px;
}
.btn-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    padding: 8px;
    margin: 8px;
    margin-top: 8px;
    font-family: 'Courier New', Courier, monospace;
}
.btn-row{
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    flex:1 1 auto;
    object-fit: fill;
}
.btn{
    display: flex;
    justify-content: center;
    background-color: slategray;
    color:rgb(0,0,0,.8);
    border: 0px;
    border-radius: 10px;
    min-width: 30px;
    min-height: 10px;
    padding: 5px;
    margin: 5px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    flex:1 1 auto;
    object-fit: fill;
    box-shadow: 8px 8px 16px rgb(0, 0, 0,);
    

}
.btn:hover {
    background-color: yellow;
}
.btn:active {
    background-color: #3e8e41;
    transform: translateY(2px);
  }